body {
  font-family: 'PT Sans', sans-serif !important;
  background-color: #010101 !important;
  padding-top: 70px !important;
}
.logo {
  font-family: 'Cookie', cursive;
  font-size: 38px !important;
  color: #FF853B;
  margin-top: 3px;
  margin-bottom: 3px;
}
.logo:hover, .logo:visited, .logo:active {
  color: #FF853B;
}

a:hover, a:visited, a:active{
  text-decoration: none !important;
  color:inherit;
}

.textoGeral {
  color: #999;
  font-size: 14px;
}
.corLaranja{
  color: #FF853B;
}
.maiusculo {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.tituloPrincipal {
  font-size: 18px;
  padding: 5px;
  letter-spacing: 7px;
  font-weight:400;
}
.nomeReceita {
  font-size: 15px;
  margin: 10px;
  margin-bottom: 2px;
  color: #fff;
}
.categoriaReceita {
  font-size: 15px;
  color: #888;
  font-style: italic;
}

.receita:hover {
  opacity: .6;
}
.zoom:hover {

  -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
     -o-transform: scale(0.98);
        transform: scale(0.98);
}

.space{
  padding: 30px;
}

.jumbotron {
  width: 500px;
  margin: 30px auto;
  }

#indexImg {
    width:260px;
    height: 180px;
    text-align: center;
}
