<h2 class="tituloPrincipal text-center corLaranja maiusculo"> {{categoria.nome}}</h2>
<br/>

    <div class="col-sm-6 col-md-3 receita container" ng-repeat = "receita in receitas | filter:filtroDeBusca">
            <a href="#">
                <img  class="zoom img-responsive" id="indexImg" src="{{receita.foto}}" alt="{{receita.nome}}">
                <p class="nomeReceita text-center maiusculo">{{receita.nome}}</p>
                <p class="categoriaReceita text-center">{{receita.categoria.nome}}</p>
            </a>
    </div>