<div id="headerwrap">
		<div class="container">
			<div class="col-md-12 positionfull">
				<h1 class="a1">{{receita.nome | uppercase}}</h1>
				<div class="col-md-6 positionfull">
						<div>
							<h3>  Tempo de preparo</h3>
							<div class="hline-home"></div>
							<h4>{{receita.tempo_de_preparo}}</h4>
						</div>
					<div>
						<h3>  Rendimento</h3>
						<div class="hline-home"></div>
						<h4>{{receita.rendimento}} porções</h4>
					</div>
					<div>
						<h3>  Dificuldade</h3>
						<div class="hline-home"></div>
						<h4>{{receita.grau_de_dificuldade}}</h4>
					</div>
					<div>
						<h3>  Ingredientes</h3>
						<div class="hline-home"></div>
						<h4 ng-repeat="ingrediente in receita.ingredientes">
							{{ingrediente.quantidade}}  {{ingrediente.unidade_de_medida}} de {{ingrediente.nome}}
						</h4>
					</div>
			</div>
			<div class="col-md-6">
				<img ng-src="{{receita.imagem}}" class="img-responsive">
			</div>
		</div>
		<div class="col-md-12 positionfull">
			 <div>
				<h3>  Modo de preparo</h3>
				<div class="hline-home"></div>
				<h5 class="receitadescricao">{{receita.modo_de_preparo}}</h5>
			</div>
		</div>
	</div>
</div>
